<%= form_with model: @article, html: {multipart:true}, :id => 'myForm' , local: true do |form| %>

<% if @article.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@article.errors.count, "error") %> prohibited
    this article from being saved:
  </h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  Please fix them to successfully submit your post.
</div>
<% end %>

<p>
  
</p>

<div class="row">
  <div class="col-md-6">
    <p>
      <%= form.label :project%>
      <br>
      <%= form.text_field :project, :id => 'project'  %>
    </p>
    
    <p>
      <%= form.label :languages %>
      <br>
      <%= form.text_field :languages %>
    </p>    
  </div>
  
  <div class="col-md-6">
    <p>
      <%= form.label :image %>
      <br>
      <%= form.file_field :image, :id => 'image' %>
    </p>    
    <p>
      <%= form.label :description %>
      <br>
      <%= form.text_area :description %>
    </p>
  </div>
  </div>
  
  
  <p>
    <%= form.submit 'Submit', :id => "onsubmit" %>
  </p>
  
  <div style="border: 1px solid red;">
  <canvas id="canvas"></canvas>
  </div>

  <% end %>